<h3 class="ui header">{{t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.опрос-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.опрос
      displayAttributeName="наименование"
      autocomplete=true
      relationName="опрос"
      projection="ОпросL"
      title=(t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.опрос-caption")
      readonly=readonly
      componentName="опросLookup"
      class=(if (v-get validationModel "опрос" "isInvalid") "error")
      data-test-i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e-опрос=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "опрос" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e.содержание-caption"}}</label>
    {{flexberry-groupedit
      componentName="содержаниеGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.содержание
      content=model.содержание
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "содержание" "isInvalid") "error")
      data-test-i-i-s-modul-dlya-chatbota-ver3-настройки-опр-e-содержание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "содержание" "message")}}
  </div>
</form>
